# Define the Primary DevOps Contact
define contact {
    contact_name                    devops-admin
    use                             generic-contact
    alias                           Raunak Warrier
    email                           admin@gitsandbox.local
    service_notification_period     24x7
    host_notification_period        24x7
    service_notification_options    w,u,c,r
    host_notification_options       d,u,r
    service_notification_commands   notify-service-by-email
    host_notification_commands      notify-host-by-email
}

# Group contacts together
define contactgroup {
    contactgroup_name       devops-team
    alias                   Git Sandbox DevOps Team
    members                 devops-admin
}