# Define the Git Sandbox Backend Host
define host {
    use                     linux-server
    host_name               gitsandbox-api
    alias                   Spring Boot Backend
    address                 127.0.0.1
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

# Define a service to check if the HTTP port (8080) is responding
define service {
    use                     generic-service
    host_name               gitsandbox-api
    service_description     HTTP API Check
    check_command           check_http!-p 8080
}